@charset "windows-1250";

*{margin: 0; padding: 0;}
img { border: 0; }
a { text-decoration: none; color: #a6a6a6;}
a:hover { color: #eb7d00; }
html, body { height: auto; background-color: #ffffff; }

.kontener{
	width: 510px;
	height: auto;
	margin: 0 auto;
}
.kontener .info{
	margin-bottom: 10px;
	text-align: center;
	color: #403e3f;
	font-size:14px;
	font-family:Tahoma;
	font-style:italic;
}
.header{
	margin-top: 110px;
	margin-bottom: 20px;
	position: relative;
	background-image: url("../images/login/header_bg.jpg");
	background-repeat: no-repeat;
	width: 520px;
	height: 53px;
}
.header .arrow{
	position: absolute;
	top: 17px;
	left: 37px;
}
.header .text{
	position: absolute;
	top: 14px;
	left: 64px;
	color: #fff;
	font-size:20px;
	font-family:Tahoma;
}
.header .logo{
	position: absolute;
	top: 17px;
	left: 380px;
}
#formularz input[type=text], [type=password] {
	background-image: url("../images/login/input.png");
	background-repeat: no-repeat;
	text-align: center;
	width: 207px;
	height: 27px;
	color: #6d4300;
	font-size:12px;
    font-family:Tahoma;
	border: none;
	margin-bottom: 30px;
}
.formularz{
	width: 210px;
	margin: 30px auto;
}
.formularz .input{ position: relative; }

.formularz .input .icon{
	position: absolute;
	top: -18px;
	left: -18px;
}
.formularz .button{
	width: 100px;
	height: 20px;
	border: 1px solid #212121;
	background-color: #101010;
	color: #fff;
	font-size:12px;
	font-family:Tahoma;
}
.formularz .button:hover{
	background-color: #272727;
}
.copyright{
	text-align: center;
	padding-top: 35px;
	color: #a6a6a6;
	font-size:10px;
	font-family:Tahoma;
}