html,body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
  height:100%;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border-left: 1px solid #C9E0ED;
  border-right: 1px solid #C9E0ED;
  min-height: 100%;
  position:relative; /* needed for footer positioning*/
	margin:0 auto; /* center, not in IE5 */
  height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/
  width: 99%;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
/*    padding: 20px 0px 0px 0px;*/
  padding: 20px;

}

#sidebar
{
	margin-left: 20px;
  margin-top: 20px;
}

#footer
{
	padding: 10px 0px 5px 0px;
/*	margin: 10px 20px;*/
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
  position:absolute;
	width:100%;
	bottom:0; /* stick to bottom */
}

#logo
{
	padding: 10px 20px;
	font-size: 150%;
}

#mainmenu
{
	background:white url(../images/bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

.icon_assigned {
  background: url(/images/icons/icon_assigned.png) top center no-repeat;
}

q { quotes: '\201E' '\201D'}
q:before { content: open-quote }
q:after { content: close-quote }

.AssignedBlocks{cursor: pointer}
h1 {font: 18px serif;}

.grid-view
{
	padding: 15px 0;
  margin-top: -5px !important;
  padding-top: 0px !important;
}
td.icons {
  padding-left: 0px !important;
  text-align: center;
}