/* LAYOUT *
=================================================================*/

/* body
----------------------------------------------*/
* {
  margin: 0; 
  padding: 0;
}
body {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; 
} 
html, 
body {  
  background-color: #ffffff; 
}
.wrapper {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.kontener {
  position: relative;
  width: 995px;
  margin: 0 auto;
}
.clear {
  clear: both;
}
.separator {
  margin-top: 10px;
}
.inner {
  margin-top: 5px;
}
section,
nav,
header,
footer {
  display: block;
}
iframe {
  overflow: hidden !important;
}
img { 
  border: 0; 
}
a { 
  text-decoration: none; 
  color: #000; 
}
a:hover { 
  color: #ff7200; 
}
table td {
  padding-left: 30px;
  font-size: 12px;
  line-height: 18px;
  font-family: "Tahoma", "Geneva", "DejaVu Sans Condensed", sans-serif;
  text-align: justify;
  color: #333333;
}
p {
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 18px;  
  font-family: "Tahoma", "Geneva", "DejaVu Sans Condensed", sans-serif;
  text-align: justify;
  color: #333333;  
}
h4 {
  font-size: 15px;
  font-weight: bold;  
  font-family: "Tahoma", "Geneva", "DejaVu Sans Condensed", sans-serif;
  color: #ff7200;
}
h3 {
  padding-bottom: 10px;
  border-bottom: 1px solid orange;
  font-size: 16px;
  font-family: "Tahoma", "Geneva", "DejaVu Sans Condensed", sans-serif;
  color: #333333; 
}
h2 {
  padding-top: 20px;
  font-size: 12px;
  font-weight: 500;
  font-family: "Tahoma", "Geneva", "DejaVu Sans Condensed", sans-serif;
  color: #ff7200;
}
h1 {
  padding-bottom: 10px;
  border-bottom: 1px solid orange;
  font-size: 16px;
  font-family: "Tahoma", "Geneva", "DejaVu Sans Condensed", sans-serif;
  color: #333333;
}
.shares {
  display: none;
}
.chocolat-overlay {
  background-color: #000;
}
.chocolat-scrollbar-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.chocolat-scrollbar {
  position: relative;
  overflow: auto;
  width: 100%;
  height: 100%;
}
.chocolat-zoomed {
    overflow: auto;
}
.chocolat-zoomed .chocolat-content {
    /*transform-origin: 0 0;*/
    transform: scale(1.5);
}
.pswp__button--zoom {
  display: block !important;
  background-position: -88px 0;
}


/* HOME *
=================================================================*/

/* top
----------------------------------------------*/
#top {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  height: 192px;
  background-image: url(../img/bg_top.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #000000;
}
.logo_top {
  position: absolute;
  top: 35px;
  left: 8px;
}
.napis_top {
  position: absolute;
  top: 37px;
  right: 5px;
}
#logowanie {
  position: absolute;
  top: 140px;
  left: 8px;
}
#logowanie input {
  float: left;
  width: 110px;
  border: 1px solid #562b13;  
  margin-right: 4px;
  padding: 5px 0px 5px 10px;
  font-size: 11px;
  font-family: Tahoma,Geneva,'DejaVu Sans Condensed',sans-serif;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #858e98;
  background: #f5f5f5;
}
#logowanie .login_button {
  float: left;
  width: 73px;
  height: 27px;
  padding: 5px 0px 5px 0px !important;
  font-size: 11px;
  font-family: Tahoma,Geneva,'DejaVu Sans Condensed',sans-serif;
  text-align: center;
  color: #FFF;
  background-image: url(../img/login_button.png);
  background-position: bottom;
  background-repeat: repeat-x;
  background-color: transparent;
}
.login_button:hover {
  cursor: pointer;
  background-position: top !important; 
}
.info {
  font-weight: bold;
  color: white; 
}
#userInformation {
  float: left;
  margin-top: 128px;
  width: 100%;
  margin-left: 10px;
}
.userAcc {
  margin-top: -10px;
  margin-left: 10px;
  float: left;
}
.userAcc a {
  font-family: "Tahoma", "Geneva", "DejaVu Sans Condensed", sans-serif;
  font-size: 11px;
  color: #c2c2c2;
  margin-right: 10px;
  background-image: url("../img/dot.png");
  background-position: 0px 4px;
  padding-left: 10px;
  background-repeat: no-repeat;
}
.userAcc a:hover {
  color: #FFF;
}

/* menu
----------------------------------------------*/
#menu {
  position: relative;
  z-index: 10;
  float: left;
  height: 48px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url(../img/bg_menu.jpg);
  background-repeat: repeat-x; 
}
#menu .nav_ul { 
  float: left; 
  list-style: none; 
}
#menu .nav_li { 
  float: left; 
  background-image: url(../img/kropki_menu.png); 
  background-position: left; 
  background-repeat: no-repeat;
}
#menu .nav_li:nth-child(1) {
  background-image: none;
}
#menu .nav_li a {
  display: block;
  height: 29px;
  padding: 19px 13px 0 13px;
  font-size: 9px;
  font-family: "Tahoma", "Geneva", "DejaVu Sans Condensed", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}
#menu .nav_li a:hover, 
#menu .nav_li .active {
  background-image: url(../img/bg_menu_hover.jpg);
}
.nav_trigger {
  display: none;
  width: 48px;
  height: 26px;
  margin: 0;
  padding: 11px 0;
  cursor: pointer;
  background: #000;
}
.nav_trigger .line {
  display: block;
  height: 2px;
  margin: 5px 7px;
  background: #fff;
  border-radius: 5px;
}

/* left_slide_menu
-----------------------------------------------------*/
.left_slide_menu { 
  position: absolute; 
  top: 264px; 
  left: 0; 
  z-index: 5; 
}
.left_slide_menu .box_menu { 
  position: relative; 
  left: -80px;
  display: block; 
  width: 130px; 
  height: 50px;
  border: 1px solid #B1A86C;   
  margin-bottom: 5px;
  cursor: pointer;
  opacity: 0.95;
  border-radius: 0 3px 3px 0; 
  box-shadow: -2px -2px 12px #FFF7C8 inset;  
}
.left_slide_menu .box_menu img { 
  position: absolute; 
  right: 8px; 
  top: 7px; 
  border: 0 none;
}
.left_slide_menu .box_menu span { 
  position: absolute;
  left: 0;  
  width: 80px; 
  line-height: 14px;
  padding-top: 10px; 
  font-size: 12px;
  font-family: Tahoma,Arial,Helvetica,sans-serif; 
  text-align: center;
  color: #6D0000;
}

/* main / left
----------------------------------------------*/
.left {
  float: left;
  width: 230px;
}
.left table tr:first-child td:first-child > p {
  margin: 0 !important;
  text-align: center !important;
}
.form_header,
.form_header_step2 {
  width: 140px;
  height: 25px;
  margin-left: 50px;
  padding-top: 4px;
  font-size: 17px;
  font-family: 'Francois One', sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  background-image: url(../img/bg_form.jpg);
  background-repeat: repeat-x;
  background-position: top;
  -webkit-border-radius: 8px 8px 0px 0px;
  border-radius: 8px 8px 0px 0px;
}
.formularz {
  float: right;
  width: 190px;
  margin-right: 10px;
  padding-top: 11px; 
  padding-bottom: 10px;
  padding-left: 13px;
  font-size: 14px;
  font-weight: bold;
  font-family: Tahoma,Geneva,'DejaVu Sans Condensed',sans-serif;
  color: #333333;
  background-color: #ededed;
}
.deco_formularz {
  float: right;
  width: 221px;
  background-image: url(../img/deco_formularz.png);
  background-position: 0px 40px;
  background-repeat: no-repeat;
}
#formularz input, 
#formularz textarea, 
#Step2Form_file,
#Step2Form_file2,
#Step2Form_file3 {
  width: 162px;
  border: 1px solid #d8d8d8;
  margin-bottom: 7px;
  padding: 5px 8px 5px 8px;
  font-size: 11px;
  font-family: Tahoma,Geneva,'DejaVu Sans Condensed',sans-serif;
  color: #9c9b9b;
  background: #FFF;
}
#formularz input[type=checkbox] {
  float: left;
  width: 14px;
}
#formularz .rules {
  float: left;
  padding-left: 5px;
  font-size: 11px;
  font-weight: normal;
  font-family: Tahoma,Geneva,'DejaVu Sans Condensed',sans-serif;
  color: #333;
}
#formularz .rules a { 
  color: #333333;
} 
#formularz .rules a:hover { 
  color: #ff7200;
}
#formularz .send_button {
  width: 140px;
  height: 28px;
  border: 0px;
  margin-left: 50px;
  padding-top: 5px;
  font-size: 11px;
  font-family: Tahoma,Geneva,'DejaVu Sans Condensed',sans-serif;
  text-align: center;
  text-transform: uppercase;  
  color: #FFF;
  background-image: url(../img/bg_form.jpg);
  background-repeat: repeat-x;
  background-position: top; 
  -webkit-border-radius: 0px 0px 8px 8px;
  border-radius: 0px 0px 8px 8px;
}
#formularz .send_button:hover {
  cursor: pointer;
  background-position: bottom;
}
.errorMessage {
  font-size: 11px;
  font-family: Tahoma,Geneva,'DejaVu Sans Condensed',sans-serif;
  font-weight: 100;
  color: red;
  padding-right: 5px;
  padding-bottom: 10px;
  clear: both;
}
input.error, 
textarea.error {
  border: 1px solid red !important;
  background-color: #fef4f4 !important;
}
.datePickIcon{
  background-image: url("../img/calendar_icon.png") !important;
  background-position: 97% 50% !important;
  background-repeat: no-repeat !important;
}
.datePickIcon2{
  background-position: 97% 50% !important;
  background-repeat: no-repeat !important;
}
#ContactForm_verifyCode{
  width: 60px !important;
  float: left;
}
#captchaRefresh{
  float:left;
  margin-top: -5px;
}
.captchaRefresh {
  width: 25px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-top: 6px !important;
  border: 0px !important;
  background: transparent url("../img/refresh.png") no-repeat 50% 50% !important;
  cursor: pointer;
  float: left;
}
.checkbox {
  width: 19px;
  height: 25px;
  padding: 0;
  background: url("../img/checkbox.png") no-repeat;
  display: block;
  clear: left;
  float: left;
  margin-left: -4px;
  margin-top: -4px;
}
#clearCacheDiv {
  display: none; 
  padding-top: 20px;
}
.info-1 {
  padding-top: 125px;
  padding: 0 10px;  
  text-align: center;
}
.info-2 {
  min-height: 300px;
  padding: 0 10px;
}
.rules a {
  text-decoration: underline;
}

/* main / center
----------------------------------------------*/
.center {
  float: left;
  width: 535px;
  width: 53.8%;
  min-height: 395px;
  border-right: 1px dotted #cacaca;
  border-left: 1px dotted #cacaca;   
  margin-bottom: 20px;
  padding: 0 8px 0 8px;
}
.center_long {
  float: left;
  width: 745px;
  width: 74%;
  min-height: 395px;
  border-left: 1px dotted #cacaca;  
  margin-bottom: 20px;  
  padding: 0 8px 0 8px;
}
.center table { 
  width: 100%;
  margin-top: -10px; 
}
.center td {
  width: 50% !important;
  padding: 0px 10px 20px 0px;
  font-size: 12px;
  line-height: 18px;
  font-family: "Tahoma", "Geneva", "DejaVu Sans Condensed", sans-serif;
  text-align: justify;
  vertical-align: top;
  box-sizing: border-box;
  color: #333;
}
.center td.image {
  text-align: center;
}
.center td img {
  max-width: 100% !important;
  height: auto !important;
}
.center td iframe {
  width: 100% !important;
}
.center tr { 
  margin-bottom: 10px; 
}

/* main / right
----------------------------------------------*/
.right {
  float: right;
  width: 200px;
  margin-left: 10px;
}
.steps {
  overflow: hidden;
  width: 180px;
  margin: 0 0 10px 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.step_nr {
  height: 27px;
  border-bottom: 1px solid #fff;
  padding-top: 4px;
  font-size: 17px;
  font-family: 'Francois One', sans-serif;
  text-align: center;
  text-transform: uppercase;  
  color: #FFF;
  background: rgb(120,120,120);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzc4Nzg3OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiY2JjYmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(120,120,120,1) 1%, rgba(188,188,188,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(120,120,120,1)), color-stop(100%,rgba(188,188,188,1)));
  background: -webkit-linear-gradient(top,  rgba(120,120,120,1) 1%,rgba(188,188,188,1) 100%);
  background: -o-linear-gradient(top,  rgba(120,120,120,1) 1%,rgba(188,188,188,1) 100%);
  background: -ms-linear-gradient(top,  rgba(120,120,120,1) 1%,rgba(188,188,188,1) 100%);
  background: linear-gradient(to bottom,  rgba(120,120,120,1) 1%,rgba(188,188,188,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#787878', endColorstr='#bcbcbc',GradientType=0 ); 
}
.checkbox_unchecked {
  padding-left: -10px;
  background-image: url(../img/checkbox_unchecked.png);
  background-position: top center;
  background-repeat: no-repeat;
}
.step_nr.done {
  background: #119235 !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#119235', endColorstr='#119235',GradientType=0 );
}
.step_nr.actual {
  background-image: url("../img/bg_form.jpg") !important;
  background-position: center top;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7200', endColorstr='#ff7200',GradientType=0 );
}
.step_nr.actual a {
  color: white;
}
.step_nr.actual a:hover {
  color: white;
}
.step_nr.actual:hover {
  background-position: center bottom;
}
.step_desc {
  padding: 12px;
  font-size: 11px;
  font-family: "Tahoma", "Geneva", "DejaVu Sans Condensed", sans-serif;
  font-weight: bold;
  text-align: center;  
  color: #333333;
  background: rgb(239,238,237);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyJSIgc3RvcC1jb2xvcj0iI2VmZWVlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMWUxZTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(239,238,237,1) 2%, rgba(225,225,225,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(239,238,237,1)), color-stop(100%,rgba(225,225,225,1)));
  background: -webkit-linear-gradient(top,  rgba(239,238,237,1) 2%,rgba(225,225,225,1) 100%);
  background: -o-linear-gradient(top,  rgba(239,238,237,1) 2%,rgba(225,225,225,1) 100%);
  background: -ms-linear-gradient(top,  rgba(239,238,237,1) 2%,rgba(225,225,225,1) 100%);
  background: linear-gradient(to bottom,  rgba(239,238,237,1) 2%,rgba(225,225,225,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efeeed', endColorstr='#e1e1e1',GradientType=0 );
}

.popular {
  margin: 40px 0;
  padding: 0 8px;
}
.popular h3 {
  border: none;
  text-align: center;
  margin-bottom: 10px;
}
.popular ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.popular li {
  display: block;
  margin: 0 0 10px;
  padding: 0;
}
.popular a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  font-size: 12px;
  line-height: 18px;
  font-family: "Tahoma", "Geneva", "DejaVu Sans Condensed", sans-serif;
  text-align: justify;
  color: #7f7f7f;
}
.popular a:hover {
  color: #ff7200;
}

/* footer
----------------------------------------------*/
#footer {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: 137px;
  background-image: url(../img/deco_footer.png);
  background-position: top center;
  background-repeat: no-repeat; 
}
.footer_inside {
  position: absolute;
  bottom: 0px;  
  float: left;
  width: 100%;
  height: 130px; 
  background-color: #f0f0f0;
}
.logo_footer {
  position: absolute;
  top: 12px;
  left: 45px;
}
#footer .kontener {
  height: 90px;
  padding-top: 33px;
  padding-left: 46px;
}
.footer_inside span {
  font-size: 11px;
  font-family: "Tahoma", "Geneva", "DejaVu Sans Condensed", sans-serif;
  color: #333333;
}
.copyright {
  position: absolute;
  right: 35px;
  bottom: 5px; 
  font-size: 11px; 
  font-family: "Tahoma", "Geneva", "DejaVu Sans Condensed", sans-serif;
  color: #ababab;
}
.copyright a {
  color: #ababab;
} 
.copyright a:hover {
  color: #ff7200;
}
.menu_footer {
  float: right;
  padding-right: 25px; 
  font-size: 11px; 
  font-family: "Tahoma", "Geneva", "DejaVu Sans Condensed", sans-serif;
  text-transform: uppercase;
  color: #ababab;
}
#footer .nav_ul { 
  float: left;
  list-style: none;   
}
#footer .nav_li { 
  float: left; 
}
#footer .nav_li a {
  margin-right: 10px;
  padding-left: 8px;  
  font-size: 11px;
  font-family: "Tahoma", "Geneva", "DejaVu Sans Condensed", sans-serif;
  color: #ababab;
}
#footer .nav_li a:hover, 
#footer .nav_li .active {
  color: #333333;
}


/* SUBPAGE *
=================================================================*/

/* faq
----------------------------------------------*/
#faq {
  font-size: 14px;
}
#faq .title {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 16px;
}
#faq .title a {
  font-size: 14px;
  font-weight: 600;
  font-family: "Tahoma", "Geneva", "DejaVu Sans Condensed", sans-serif;
  color: #7f7f7f;
}
#faq .title a:hover,
#faq .title a.active {
  color: #ff7200;
}
#faq .content {
  display: none;
}
.short_content {
  margin-bottom: 15px;
  padding-left: 10px;  
  font-family: "Tahoma", "Geneva", "DejaVu Sans Condensed", sans-serif;
  font-size: 12px;
  color: #333333;
  line-height: 18px;
  text-align: justify;
}

/* upload
----------------------------------------------*/
.upload_content {
  clear: both;
}
.link {
  overflow: hidden;
  width: auto;
  height: 20px;
  border-left: 5px solid #949494;
  margin-bottom: 5px;
  padding: 5px 0px 2px 10px;
  font-size: 12px;
  font-family: Tahoma,Geneva,'DejaVu Sans Condensed',sans-serif;
  font-weight: 100;
  background: #F8F8F8;
  background-image: url("../img/save.png") !important;
  background-position: 97% 50% !important;
  background-repeat: no-repeat !important;
}
.link a {
  display: block;
  color: #727272;  
} 
.link a:hover {
  color: #ff7200;
}

/* blog
----------------------------------------------*/
.blog_content {
  float: left;  
  width: 745px;
  width: 74%;
  min-height: 395px;
  border-left: 1px dotted #cacaca;  
  margin-bottom: 160px; 
  padding: 0 8px 0 8px;
}
.list-view {
  margin-top: -20px;
}
.summary {
  font-size: 12px;
  font-family: "Tahoma", "Geneva", "DejaVu Sans Condensed", sans-serif;
  font-weight: 600;
  color: #333;
}
.items {  
  margin-bottom: 40px; 
}
.blog_entry { 
  margin-bottom: 15px; 
}
.article_title {
  margin-top: 10px;
  margin-bottom: 5px;
}
.article_title a {
  font-size: 14px;
  font-size: 16px;
  font-family: "Tahoma", "Geneva", "DejaVu Sans Condensed", sans-serif;
  font-weight: 600;
  color: #7F7F7F;
}
.article_title a:hover { 
  color:#FF7200!important; 
}
.article_content {
  padding-left: 10px;
  font-size: 12px;
  line-height: 18px;
  font-family: "Tahoma", "Geneva", "DejaVu Sans Condensed", sans-serif;
  text-align: justify;
  color: #333;
}
.show_more, 
.goBack {
  text-align: right;
}
.show_more a:hover, 
.goBack a:hover {
  color: #E06400;
}
.show_more a, 
.goBack a {
  font-size: 12px;
  font-family: "Tahoma", "Geneva", "DejaVu Sans Condensed", sans-serif;
  color: #FF7200;
}

/* profile
----------------------------------------------*/
.userForm {
  margin-top: 30px;
}
.userForm label {
  float: left;
  padding-top: 2px;
  font-size: 12px;
  font-family: "Tahoma", "Geneva", "DejaVu Sans Condensed", sans-serif;
  color: #333333;
}
.userForm input {
  float: right;
  width: 162px;
  border: 1px solid #d8d8d8;
  margin-bottom: 7px;
  padding: 3px 8px 3px 8px;
  font-size: 11px;
  font-family: Tahoma,Geneva,'DejaVu Sans Condensed',sans-serif;
  color: #9c9b9b;
  background: #FFF;
}
#user-form {
  width: 300px;
  margin: 0 auto;
}
.userForm .row {
  overflow: hidden;
  clear: both;
  width: 100%;
}
.userForm .buttons input {
  width: auto;
  border: 1px solid #562b13;
  margin-top: 15px;
  padding: 5px 10px 5px 10px;  
  font-size: 11px;
  font-family: Tahoma,Geneva,'DejaVu Sans Condensed',sans-serif;
  text-align: center;
  color: #FFF;
  background: #f5f5f5;
  background-image: url(../img/login_button.png);
  background-position: bottom;
  background-repeat: repeat-x;
  background-color: transparent;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.userForm .buttons input:hover {
  cursor: pointer;
  background-position: top !important;
}

/* causes
----------------------------------------------*/
.causes {
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;
}
.add_date {
  float: left;
  width: 100%;
  height: 17px;
  padding-top: 3px;
  font-size: 11px;
  font-family: "Tahoma", "Geneva", "DejaVu Sans Condensed", sans-serif;
  text-align: right;
  color: #FFF;
  background-color: #ff7200;
}
.add_date span, 
.show_details a {
  padding-right: 5px;
}
.last_update span {
  padding-left: 10px; 
  padding-right: 10px
}
.last_update .data-content {
  float: left;
  padding-left: 50px; 
  padding-top: 5px; 
}
.last_update {
  float: left;
  width: 100%;
  margin: 1px 0 1px 0;
  padding-top: 10px;
  padding-bottom: 10px;  
  font-size: 12px;
  font-family: "Tahoma", "Geneva", "DejaVu Sans Condensed", sans-serif;
  text-align: left;
  color: #333333;
  background-color: #efefef;  
}
.show_details {
  float: left;
  width: 100%;
  height: 17px;
  padding-top: 3px;
  font-size: 11px;
  font-family: "Tahoma", "Geneva", "DejaVu Sans Condensed", sans-serif;
  text-align:right;  
  color: #ff7200;
  background-color: #d2d2d2;
}

/* cause
----------------------------------------------*/
#timeline {
  width: 490px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 20px;  
  list-style-type: none;
  background: url(../img/timeline.png) top center repeat-y;
}
#timeline li {
  width: 220px; 
  padding: 5px;
  border: 1px solid #ffcca3;
  background-color: #FFF;
  -moz-border-radius: 5px; 
  border-radius: 5px; 
  webkit-border-radius: 5px; 
}
#timeline li:nth-of-type(odd) {
  float: right; 
  clear: both;
}
#timeline li:nth-of-type(odd), 
#timeline li:nth-of-type(even) {
  margin: -10px 0 20px 0;
}
#timeline li:nth-of-type(even) .corner {
  position: absolute; 
  display: block; 
  width: 20px; 
  height: 15px;
  margin-left: 225px;
  background:url(../img/right.png);
}
#timeline li:nth-of-type(odd) .corner {
  position: absolute;
  display: block;
  width: 20px;
  height: 15px;
  margin-left: -25px;
  background: url(../img/left.png);
}
time,
.time {
  min-width: 150px; 
  height: 20px;
  border-bottom: 1px solid #E7EBF2;    
  font-size: 10px; 
  font-family: "Tahoma", "Geneva", "DejaVu Sans Condensed", sans-serif;
  color: gray; 
}
.contact {
  margin-bottom: 15px;
}
.cause_left {
  float: left;
  width: 50%;
  font-size: 12px;
  line-height: 18px;
  font-family: "Tahoma", "Geneva", "DejaVu Sans Condensed", sans-serif;
  color: #333333;
}
.cause_left label, 
.cause_left input {
  margin-bottom: 10px;
}
.cause_left textarea {
  width: 240px;
  border: 1px solid #d8d8d8;
  margin-bottom: 10px;
  padding: 3px 8px 3px 8px;  
  font-size: 11px;
  font-family: Tahoma,Geneva,'DejaVu Sans Condensed',sans-serif;
  color: #9c9b9b;
  background: #FFF;
}
.cause_form {
  float: left;
  font-size: 12px;
  line-height: 18px;  
  font-family: "Tahoma", "Geneva", "DejaVu Sans Condensed", sans-serif;
  color: #333333;
}
.cause_form label, 
.cause_form input {
  margin-bottom: 10px;
}
.cause_form textarea {
  width: 190px;
  border: 1px solid #d8d8d8;
  margin-bottom: 10px;  
  padding: 3px 8px 3px 8px;
  font-size: 11px;
  font-family: Tahoma,Geneva,'DejaVu Sans Condensed',sans-serif;
  box-sizing: border-box;
  color: #9c9b9b;
  background: #FFF;
}
.cause_right {
  float: left;
  width: 50%;
  font-size: 11px;
  line-height: 18px;  
  font-family: "Tahoma", "Geneva", "DejaVu Sans Condensed", sans-serif;
}
.cause_right li {
  padding-left: 10px;
  list-style: none;
  background-image: url("../img/dot.png");
  background-position: 0px 6px;
  background-repeat: no-repeat;
}
.cause_right li a {
  color: #333333;
}
.cause_right li a:hover {
  color: #ff7200;
}
.cause_files {
  margin-bottom: 20px;
  padding-top: 20px; 
  font-size: 11px;
  line-height: 18px;   
  font-family: "Tahoma", "Geneva", "DejaVu Sans Condensed", sans-serif;
}
.cause_files h3 {
  margin-bottom: 5px !important;
}
.cause_files li {
  padding-left: 10px;  
  list-style: none;
  background-image: url("../img/dot.png");
  background-position: 0px 7px;
  background-repeat: no-repeat;
}
.cause_files li a {
  color: #333333;
}
.cause_files li a:hover {
  color: #ff7200;
}

/* step2
----------------------------------------------*/
.step2 {
  padding-top: 10px;
}
.step2 .mod {
  margin-bottom: 30px;
}
.formularz_step2 {
  overflow: hidden;
  float: none;
  width: 220px;
  padding-top: 11px;
  padding-left: 13px;
  padding-right: 10px;  
  padding-bottom: 10px;
  font-size: 11px;
  font-weight: bold;
  font-family: Tahoma,Geneva,'DejaVu Sans Condensed',sans-serif;
  color: #333333;
  background-color: #ededed;
}
.lub {
  position:absolute;
  right:-38px;
  top: 67px;
  font-size: 13px;
  font-weight: bold;
  color: #818181;
  font-family: Tahoma,Geneva,'DejaVu Sans Condensed',sans-serif;
}
.input_label {
  padding-bottom: 10px;
  float: left;
}
#Step2Form_file,
#Step2Form_file2,
#Step2Form_file3 {
  background: #FFF;
  border: 1px solid #d8d8d8;
  color: #818181;
  width: 210px;
  font-size: 11px;
  font-family: Tahoma,Geneva,'DejaVu Sans Condensed',sans-serif;
  padding: 0px;
  margin-bottom: 14px;
  float: left;
}
#Step2Form_passCode {
  width: 200px;
  border: 1px solid #d8d8d8;
  font-size: 11px;
  font-family: Tahoma,Geneva,'DejaVu Sans Condensed',sans-serif;
  padding: 5px 8px 5px 8px;
  color: #9c9b9b;
  background: #FFF;
  margin-bottom: 10px;
}
.whereIsTheCode {
  float: right;
  padding-top: 2px;
}
.submit_step2 {
  float: left;
  background-image: url("../img/bg_form.jpg");
  background-position: center bottom;
  background-repeat: repeat-x;
  border: 0 none;
  border-radius: 4px;
  color: #FFFFFF;
  font-family: Tahoma,Geneva,'DejaVu Sans Condensed',sans-serif;
  font-size: 11px;
  height: 20px;
  text-transform: uppercase;
  width: 70px;
}
.submit_step2:hover {
  cursor:pointer;
  background-position: center top;
}
.mod-document {
  position: relative;
  float: left;
}
.mod-accesscode {
  float: right;
}

/* news
----------------------------------------------*/
h2,
h4,
.blog_entry .article_title a {
  color: #333;
}
.content_box .left {
  float: none;
  width: auto;
}
.content_box .blog_content {
  float: none;
  width: auto;
  padding: 0;
  border: none;
}
#article-list {
  margin-top: 0;
  padding-top: 30px;
}
#article-list .summary {
  display: none;
}
#article-list .items {
  clear: both;
}
.articles-description {
  padding: 15px 0 0;
}
.blog_entry {
  margin-bottom: 15px;
  padding: 18px;
  border: 1px solid orange;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.blog_entry {
  margin-bottom: 10px;
}
.blog_entry h2 {
  padding-top: 0;
  font-size: 15px;
  font-weight: 600;
}
.blog_entry .article_title {
  margin-bottom: 10px;
}
.blog_entry .article_title h2,
.blog_entry .article_content {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.blog_entry .article_title h3 {
  border: none;
}
.blog_entry .article_title a {
  font-size: inherit;
}
.blog_entry .article_content {
  position: relative;
  height: 48px;
  padding-left: 0;
  margin-bottom: 20px;
  line-height: 16px;
  white-space: normal;
  text-align: justify !important;
}
.blog_entry .article_content.full {
  height: auto;
}
.blog_entry .show_more,
.blog_content .goBack {
  text-align: left;
}
.blog_entry .show_more a,
.blog_content .goBack a {
  display: inline-block;
  padding: 7px;
  color: #fff;
  background: #f45a02;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.blog_entry .show_more a:hover,
.blog_content .goBack a:hover {
  color: #fff;
}
.blog_content {
  margin-bottom: 40px;
  text-align: justify;
  min-height: auto;
}
.blog_content .goBack {
  padding-top: 10px;
}
.list-view .pager {
  margin: 5px 0 0 0;
  text-align: right;
}
ul.yiiPager {
  font-size: 13px;
  border: 0;
  margin: 0;
  padding: 0;
  line-height: 100%;
  display: inline;
  font-family: tahoma;
}
ul.yiiPager .first,
ul.yiiPager .last {
  display: none;
}
ul.yiiPager li {
  display: inline;
}
ul.yiiPager .hidden a {
  color: #888888;
}
ul.yiiPager a:link,
ul.yiiPager a:visited {
  color: #888888;
  padding: 1px 6px;
  text-decoration: none;
}
ul.yiiPager .selected a {
  background: #ff7200;
  color: #FFFFFF;
  font-weight: bold;
}
.upload_content {
  margin-bottom: 30px;
}
.upload_content .figure {
  margin-bottom: 15px;
}
.upload_content .figure a {
  display: block;
  text-align: center;
}
.upload_content .figure img {
  max-width: 100%;
  height: auto;
}


/* MODALS *
=================================================================*/

/* imagepreview
----------------------------------------------*/
#preview {
  position: absolute;
  z-index: 99999;
  display: none;
  border: 1px solid #ccc;
  padding: 5px;
  color: #fff;
  background: #333;
}
.insideDiv {
  overflow: hidden;
  float: left;
  width: 170px;
  height: 120px;
  margin-right: 3px;
  margin-left: 3px;
  border: 1px solid #f05302;
  margin-bottom: 20px;
}
.insideDiv .image {
  min-width: 170px;
  min-height: 120px;
}

/* ui-dialog
----------------------------------------------*/
.ui-dialog {
  top: 15%;
  left: 25%;
  width: 50% !important;
}
.ui-dialog-titlebar { 
  display: none !important; 
}
.ui-datepicker {
  z-index: 1100 !important;
}


/* MEDIA QUERIES *
=================================================================*/

/* 1100
----------------------------------------------*/
@media only screen and (max-width : 1100px) {

  /* home
  --------------------------------------------*/
  .kontener {
    width: 978px;
  }
  .center {
    width: 52.8%;
  }
  /*#menu {*/
    /*margin-bottom: 110px;*/
  /*}*/
  #menu .nav_li a {
    font-size: 8px;
  }
  .left_slide_menu {
    /*display: none;*/
    position: static;
    width: 100%;
    clear: both;
    text-align: center;
    padding-bottom: 15px;
  }
  .left_slide_menu .box_menu {
    left: 0;
    margin: 0 auto 5px;
    border-radius: 3px;
  }
  .left_slide_menu .box_menu span {
    padding-left: 10px;
  }
  .left_slide_menu .fb-like {
    width: 120px;
    margin: 0 auto;
  }

  /* step2
  --------------------------------------------*/
  .lub {
    right: -24px;
  }

}

/* 1100
----------------------------------------------*/
@media only screen and (max-width : 1024px) {

  /* home
  --------------------------------------------*/
  .kontener {
    width: 722px;
  }
  .napis_top {
    top: 46px;
    width: 48%;
    height: auto;
  }
  #menu .nav_li a { 
    font-size: 7px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .left {
    width: 219px;
  }
  .form_header,
  #formularz .send_button {
    margin-left: 39px;
  }
  .center {
    width: 46.8%;
  }
  .center_long {
    width: 67%;
  }
  .center table td {
    display: block;
    width: 100% !important;
    padding: 0 5px 20px;
  }
  .right {
    width: 135px;
  }
  .right .steps {
    width: 105px;
  }
  #footer .nav_li a {
    font-size: 9px;
  }

  /* blog
  --------------------------------------------*/
  .blog_content {
    width: 67%;
  }
  .left table {
    padding-right: 10px;
  }

  /* step2
  --------------------------------------------*/
  .step2 .mod {
    float: none;
    clear: both;
    width: 244px;
    margin: 0 auto 30px;
  }
  .formularz_step2 {
    overflow: hidden;
    margin-bottom: 60px;
  }
  .lub {
    top: auto;
    right: 114px;
    bottom: -37px !important;
  }

  /* cause
  --------------------------------------------*/
  #timeline {
    width: 300px;
  }
  #timeline li {
    width: 120px;
  }
  #timeline li:nth-of-type(even) .corner {
    margin-left: 130px;
  }
  time,
  .time {
    min-width: auto; 
    height: auto;
  }
  .cause_form label, .cause_form input {
    overflow: hidden;
    width: 100%;
  }
  .cause_form textarea {
    width: 100%;
  }

}

/* 768
----------------------------------------------*/
@media only screen and (max-width : 768px) {

  /* home
  --------------------------------------------*/
  .kontener {
    width: 554px;
  }
  .logo_top {
    position: static;
    display: block;
    width: 50%;
    margin: 42px 0 0 7px;
  }
  .logo_top img {
    width: 100%;
    height: auto;
  }
  .napis_top {
    top: 16px;
  }
  #loginForm {
    position: relative;
    margin: 0 auto;
  }
  #logowanie {
    top: 0;
  }
  #logowanie input {
    width: 80px;
  }
  #userInformation {
    margin-top: 0;
  }
  #menu .nav_trigger {
    display: block;
  }
  #menu .nav_ul {
    display: none;
  }
  #menu .nav_li {
    float: none;
  }
  #menu .nav_li a {
    font-size: 10px;
    background-image: url(../img/bg_menu.jpg);
    background: #000;
  }
  #menu .nav_li a:hover,
  #menu .nav_li a.active {
    background: #F67000;
  }
  .center {
    width: 56.8%;
    border-right: none;
  }
  .center_long {
    width: 57%;
  }
  .right {
    float: none;
    clear: both;
    width: 100%;
    margin-left: 0;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  .right .steps {
    float: left;
    width: 269px;
  }
  .right .step_desc {
    padding: 12px 10px;
  }
  #footer {
    text-align: center;
  }
  .footer_inside {
    overflow: hidden;
  }
  .ui-dialog {
    width: 300px !important;
  }

  /* blog
  --------------------------------------------*/
  .blog_content {
    width: 57%;
  }

  /* modals
  --------------------------------------------*/
  .ui-dialog {
    width: 90% !important;
    top: 10%;
    left: 4%;
  }
  
}

/* 600
----------------------------------------------*/
@media only screen and (max-width : 600px) {

  /* home
  --------------------------------------------*/
  .kontener {
    width: 434px;
  }
  #top,
  #userInformation p,
  .userAcc {
    text-align: center;
  }
  #top,
  #footer,
  #footer .kontener,
  .footer_inside {
    height: auto;
  }
  #top {
    background: #000;
  }
  .logo_top,
  .napis_top {
    width: 70%;
    margin: 5px auto;    
  }
  .napis_top,
  #loginForm,
  #logowanie,
  .logo_footer,
  .copyright {
    position: static;
  }
  #loginForm,
  .footer_inside {
    overflow: hidden;
  }
  #loginForm {
    top: 0;
    right: 0;
    width: 65%;
    margin: 5px auto;
  }
  #logowanie {
    margin-bottom: 50px;
  }
  #userInformation {
    margin-top: 10px;
  }
  .userAcc,
  .left,
  .center,
  .center_long,
  #footer,
  .footer_inside,
  .menu_footer,
  #footer .nav_ul,
  #footer .nav_li {
    float: none;
  }  
  .userAcc,
  .left .steps,
  .center,
  .center_long,
  #footer,
  .footer_inside,
  #footer .nav_ul,
  #footer .nav_li,
  .copyright {
    clear: both;
  }  
  .userAcc {
    margin-bottom: 40px;
  }
  .left {
    margin: 0 auto 20px;
  }
  #form {
    float: none;
    padding-bottom: 20px;
  }
  .left .steps,
  .center,
  .center_long {
    width: 100%;
  }  
  .left .steps {
    margin: 0 auto;
  }
  .left .step_desc {
    padding: 12px 24px;
  }   
  .center,
  .center_long {
    min-height: auto;
    border: none;
    padding: 0 10px;
    box-sizing: border-box;
  }
  .right .steps {
    width: 207px;
  }
  .right .step_desc {
    padding: 12px 30px;
  }
  #footer .kontener {
    padding-left: 0;
  }
  .footer_inside {
    position: relative;
    top: 7px;
    padding-bottom: 30px;
  }
  .logo_footer,
  .menu_footer {
    margin-bottom: 20px;
  }
  .menu_footer {
    padding-right: 0;
  }
  #footer .nav_li {
    display: inline-block;
  }
  #footer .nav_li a {
    margin-right: 7px;
  }

  /* upload
  --------------------------------------------*/
  .upload_content {
    clear: both;
  }

  /* blog
  --------------------------------------------*/
  .blog_content {
    float: none;
    clear: both;
    width: 100%;
    min-height: auto;
    border: none;
    margin-bottom: 60px;
    padding: 0 10px;
    box-sizing: border-box;
  }
  .list-view .pager {
    text-align: center;
  }

  /* modals
  --------------------------------------------*/
  .ui-dialog {
    top: 15%;
  }

}

/* 480
----------------------------------------------*/
@media only screen and (max-width : 480px) {

  /* home
  --------------------------------------------*/
  .kontener {
    width: 320px;
  }
  .logo_top {
    margin-top: 30px;
  }
  #loginForm {
    width: 85%;
  } 
  .center table td {
    display: block;
    width: 100% !important;
    padding: 5px 0;
  }
  .right {
    padding: 0 10px;
  }
  .right .steps {
    float: none;
    width: 100%;
    margin-left: 0;
  }
  .right .step_desc {
    padding: 12px;
  }
  .left_slide_menu {
    top: 245px;
  }

  /* modals
  --------------------------------------------*/
  .ui-datepicker {
    left: 0 !important;
    width: 100%;   
    box-sizing: border-box;
  }

  /* cause
  --------------------------------------------*/
  #timeline {
    padding: 20px 0;
  }

}