/*
	Coin Slider jQuery plugin CSS styles
	http://workshop.rs/projects/coin-slider
*/
.cs-buttons {
	font-size: 0px;
}
	
.cs-buttons a {     
	width:12px;
    height:12px;
    float:left;
    background:url(../../img/tab.png) 0 0 no-repeat;
	text-indent: -20px;
	margin-right: 5px;
}
a.cs-active{ 
	width:12px;
    height:12px;
    float:left;
	background:url(../../img/tab.png) 0px -12px no-repeat;
	font-size:0px;
	margin-right: 5px;
 }

.cs-title { width: 545px; padding: 10px; background-color: #000000; color: #FFFFFF; display: none;}

.cs-prev, .cs-next { background-color: #000000; color: #FFFFFF; padding: 0px 10px; display:none;}
